.all__forms {
    margin-top: 50px;
}

.all__forms label {
    padding-left: 10px;
}

.all__forms .row {
    width: 100%;
    margin: 10px 0;
}

.all__forms .right {
    margin-right: 10px;
}

.more__fields {
    display: flex;
}

.all__forms input,
.all__forms select,
.all__forms textarea {
    width: 100%;
    margin-top: 3px;
    padding: 8px 10px;

    border: none;
    outline: none;
}

.all__forms button {
    margin-top: 20px;
    padding: 8px 10px;

    border: none;
    cursor: pointer;
    color: var(--white);
}

.button__save {
    background: var(--green);
}

.button__edit {
    background: var(--yellow);
}

.all__forms p {
    margin-bottom: 20px;

    text-align: right;
    color: var(--grey);
}

.fields__required {
    color: var(--red);
}
