.all__forms {
    margin-top: 50px;
}

.all__forms label {
    padding-left: 10px;
}

.all__forms .row {
    width: 100%;
    margin: 10px 0;
}

.all__forms .right {
    margin-right: 10px;
}

.more__fields {
    display: flex;
}

.all__forms input,
.all__forms select,
.all__forms textarea {
    width: 100%;
    margin-top: 3px;
    padding: 8px 10px;

    border: none;
    outline: none;
}

.all__forms button {
    margin-top: 20px;
    padding: 8px 10px;

    border: none;
    cursor: pointer;
    color: var(--white);
}

.button__save {
    background: var(--green);
}

.button__edit {
    background: var(--yellow);
}

.all__forms .information__roles {
    margin: 10px 0;
    text-align: left;
}

.all__forms p {
    margin-bottom: 20px;

    text-align: right;
    color: var(--grey);
}

.fields__required {
    color: var(--red);
}

.all__forms .controllers {
    margin-top: 30px;
}

.all__forms .controllers p {
    margin-bottom: 30px;
}

.all__forms .icons__module {
    display: flex;
}

.all__forms .icons__module i {
    margin-right: 10px;
}

.allcheck,
.uncheck {
    cursor: pointer;
}

/* CHECKBOX */
.all__forms .input__services {
    display: flex;
    flex-direction: column;
}

.all__forms .input__services h4 {
    margin-bottom: 15px;
}

.all__forms .checkbox__service {
    display: none;
}

.all__forms .checkbox__service + label {
    padding-left: 35px;
    margin-bottom: 20px;

    display: block;
    cursor: pointer;
    position: relative;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.all__forms .checkbox__service + label:before {
    top: 0;
    left: 0;
    opacity: .6;
    width: 15px;
    height: 15px;
    border: 1px solid var(--green);

    content: '';
    display: block;
    position: absolute;

    transition: all .30s, border-color .20s;
    -webkit-transition: all .30s, border-color .20s;
}

.all__forms .checkbox__service:checked + label:before {
    top: -5px;
    left: 5px;
    opacity: 1;
    width: 10px;
    border-radius: 0;

    border-top-color: transparent;
    border-left-color: transparent;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
