:root {
    --red: #FA2626;
    --grey: #A9A9A9;
    --blue: #0058dd;
    --black: #1D1D1D;
    --white: #FFFFFF;
    --green: #27AE60;
    --yellow: #dbb801;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: var(--white);
    background: var(--black);
    font-family: 'Maven Pro', sans-serif;
}

.containner__main {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.containner {
    width: 400px;
    margin: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.containner form {
    width: 100%;
    margin: 30px;
}

.containner form label {
    padding-left: 10px;
}

.containner form .row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.more__inputs {
    display: flex;
    flex-direction: row;
}

.right {
    margin-right: 10px;
}

.containner form input {
    width: 100%;
    margin-top: 3px;
    padding: 8px 10px;

    border: none;
    outline: none;
}

.containner form button {
    width: 100%;
    margin-top: 5px;
    padding: 8px 10px;

    border: none;
    cursor: pointer;
    color: var(--white);
    background: var(--green);
}

.containner a {
    color: var(--green);
    text-decoration: none;
}

form .subtitle {
    margin: 30px 0 10px 10px ;
}

form .recover {
    margin-top: 20px;
    text-align: center;
}


/* CHECKBOX */
.input__terms {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
}

.checkbox__terms {
    display: none;
}

.checkbox__terms + label {
    padding-left: 30px !important;
    margin-bottom: 20px;

    display: block;
    cursor: pointer;
    position: relative;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.checkbox__terms + label:before {
    top: 0;
    left: 0;
    opacity: .6;
    width: 15px;
    height: 15px;
    border: 1px solid var(--green);

    content: '';
    display: block;
    position: absolute;

    transition: all .30s, border-color .20s;
    -webkit-transition: all .30s, border-color .20s;
}

.checkbox__terms:checked + label:before {
    top: -5px;
    left: 5px;
    opacity: 1;
    width: 10px;
    border-radius: 0;

    border-top-color: transparent;
    border-left-color: transparent;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.conditions {
    color: var(--grey);
}

/* END CHECKBOX */

.containner .router {
    margin-bottom: 20px;
}

.msg__success {
    background: rgba(39, 174, 95, .5);
}

.msg__error {
    background: rgba(250, 38, 38, .5);
}

.msg__warning {
    color: var(--black);
    background: rgba(219, 184, 1);
}

.msg__success, .msg__error, .msg__warning {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.error-message {
    color: var(--red);
}

.blob__dark {
    left: 0;
    opacity: .05;
    z-index: -1;
    width: 250px;
    position: fixed;
}

@media screen and (max-width: 500px) {
    .more__inputs {
        flex-wrap: wrap;
    }

    .right {
        margin-right: 0;
    }
}
