
:root {
    --red: #FA2626;
    --grey: #A9A9A9;
    --blue: #0058dd;
    --black: #1D1D1D;
    --white: #FFFFFF;
    --green: #27AE60;
    --yellow: #dbb801;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: var(--white);
    background: var(--black);
    font-family: 'Maven Pro', sans-serif;
}

.containner__main {
    margin: 100px;
}

.subtitle__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle__button h1 {
    font-size: 1.8em;
}

.subtitle__button small {
    font-size: .6em;
    color: var(--grey);
}

.subtitle__button p a {
    padding: 10px;
    border-radius: 10px;

    color: var(--white);
    text-decoration: none;
    background: var(--green);
}

.msg__success {
    background: rgba(39, 174, 95, .5);
}

.msg__error {
    background: rgba(250, 38, 38, .5);
}

.msg__warning {
    color: var(--black);
    background: rgba(219, 184, 1);
}

.msg__success,
.msg__error,
.msg__warning {
    width: 100%;
    margin: 30px 0;
    padding: 15px;
}

.error-message {
    color: var(--red);
}

/* PAGINAÇÃO */
.pagination {
    margin-top: 50px;

    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

.page__item {
    margin: 0 5px;
}

.page__item a {
    padding: 10px 15px;
    border-radius: 5px;

    color: var(--white);
    background: var(--grey);
}

.active a {
    color: white;
    background: var(--green);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .containner__main {
        margin: 100px 50px;
    }
}

@media screen and (max-width: 500px) {
    .subtitle__button small {
        display: none;
    }
}
