header {
    margin: 30px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    color: var(--white);
    text-decoration: none;
}

nav.primary-navigation ul li {
    padding-left: 30px;
    list-style: none;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

nav.primary-navigation li .header__link {
    color: var(--grey);
}

nav.primary-navigation li .header__link:hover {
    color: var(--white);
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    left: 0;
    opacity: 0;
    padding-left: 0;

    display: none;
    position: absolute;
    visibility: hidden;
    background: var(--black);
    z-index: 1;
}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
    opacity: 1;
    min-width: 150px;
    padding-top: 20px;

    display: block;
    text-align: left;
    visibility: visible;
}

nav.primary-navigation ul li ul li {
    width: 100%;
    margin-bottom: 20px;

    clear: both;
    text-align: left;
    border-style: none;
}

nav.primary-navigation ul li ul li .header__link:hover {
    padding-left: 10px;
    transition: all 0.3s ease;
    border-left: 2px solid var(--green);
}

ul li ul li .header__link {
    transition: all 0.5s ease;
}

.hamburger__menu {
    display: none;
}

@media screen and (max-width: 900px) {
    header {
        top: 0;
        margin: 0;
        width: 100%;
        padding: 20px 50px;

        position: fixed;
        background: var(--black);
    }

    nav.primary-navigation {
        display: none;
    }

    /* MENU HAMBURGUER */
    .hamburger__menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        right: 0 !important;
    }

    .menu__btn {
        z-index: 3;
        width: 26px;
        height: 26px;
        margin: 10px -20px;

        position: fixed;
        cursor: pointer;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        width: 100%;
        height: 2px;
        transition-duration: .25s;

        display: block;
        position: absolute;
        background: var(--grey);
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        top: 0;
        margin: 0;
        z-index: 2;
        right: -100%;
        width: 300px;
        height: 100%;
        padding: 80px 0;
        transition-duration: .25s;

        display: block;
        position: fixed;
        list-style: none;
        background: var(--black);
    }

    .menu__item {
        padding: 12px 24px;
        transition-duration: .25s;

        display: block;
        color: var(--grey);
        text-decoration: none;
    }

    .summary__hamburguer summary {
        padding: 12px 24px;

        color: var(--grey);
        list-style-type: none;
    }

    .summary__hamburguer li {
        padding: 8px 35px;
    }

    .summary__hamburguer li a {
        color: var(--grey);
    }
}
