
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile p {
   padding-left: 15px;
}

.update {
    background: var(--yellow) !important;
}

.delete_in_view {
    padding: 10px;
    border-radius: 10px;

    color: var(--white);
    text-decoration: none;
    background: var(--red);
}

.data__person {
    margin-top: 50px;
}

.data__row {
    display: flex;
    margin-bottom: 15px;
}

.data__row h4 {
    margin-right: 10px;
}

.data__person dd {
    color: var(--grey);
}

.toghetter {
    margin-top: 40px;
}

.toghetter table {
    margin: 10px 0;
}

.nav__view {
    display: none;
}

.reschedule__containner {
    margin-bottom: 20px;
}

.reschedule__containner a {
    color: var(--green);
}

@media screen and (max-width: 700px) {
    .profile p,
    .delete_in_view {
        display: none;
    }

    .nav__view {
        display: block !important;
    }
}

@media screen and (max-width: 500px) {
    .data__row {
        flex-direction: column;
    }
}
