
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile p {
   padding-left: 15px;
}

.update {
    background: var(--yellow) !important;
}

.delete_in_view {
    padding: 10px;
    border-radius: 10px;

    color: var(--white);
    text-decoration: none;
    background: var(--red);
}

.data__person {
    margin-top: 50px;
}

.data__row {
    display: flex;
    margin-bottom: 15px;
}

.data__row h4 {
    margin-right: 10px;
}

.data__person dd {
    color: var(--grey);
}

.toghetter {
    margin-top: 40px;
}

.toghetter table {
    margin: 10px 0;
}
