.welcome {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.welcome h2 {
    font-size: 1.8em;
}

.welcome small {
    color: var(--grey);
    margin: 5px 0 80px 0;
}

.welcome a {
    padding: 10px;
    border-radius: 10px;

    color: var(--white);
    text-decoration: none;
    background: var(--green);
}
